# System
Thumbs.db
.DS_Store

# Editors
.idea
.vscode
.zed

# Agents
.aider*
.claude
.codex
.continue
.cursor
.gemini
.junie
.opencode
.windsurf

# Dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb
.pnp
.pnp.js
.pnp.cjs
.yarn
.npm
.pnpm-store
.bun

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo

# Caches
.cache
.parcel-cache
.turbo
.vite

# Frameworks
.astro
.next
.nuxt
.output
.svelte-kit

# Testing
playwright-report
test-results

# Deployment
.netlify
.vercel

# Environment
.env*
!.env*.example

# Output
dist
coverage

# Working files
_drafts
_files
_plans
